// COLORS
// $primary-color: #37ecba;
// $secondary-color: #72afd3;
$primary-color: #02aab0;
$secondary-color: #00cdac;

$white-color: #fff;
$black-color: #121212;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$light-blue-text: #f3ebff; // For Headings
$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
